# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Flask/Temp
instance/
.env
.venv/
env/
*.env
*.bak
*.tmp

# SQLite-Datenbanken und Backups
*.db
*.db-journal
*.sqlite
*.sqlite3
*.sqlite-journal

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Test/Log
*.log

# macOS/Linux executables
*.out
*.app
*.exe
*.o
